{% extends 'base.html' %}{% block contenido %}

<link
  href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.css"
  rel="stylesheet"
/>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js"></script>
<div id="calendar"></div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var calendarEl = document.getElementById("calendar");
    var temas = JSON.parse("{{ temas_json|escapejs }}");

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: "dayGridMonth",
      locale: "es",
      selectable: true,
      selectLongPressDelay: 0,
      firstDay: 1,
      navLinks: true,
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },

      buttonText: {
        today: "Hoy",
        month: "Mes",
        week: "Semana",
        day: "Día"
      },
      
      allDaySlot: false,
      slotMinTime: "06:00:00",
      slotMaxTime: "22:00:00",
      events: temas,

      select: function (info) {
        var fechaSeleccionada = info.startStr;
        window.location.href = "/calendario/nuevo_tema/?fecha=" + fechaSeleccionada;
      },

      eventClick: function (info) {
        var id = info.event.id;
        window.location.href = "/calendario/editar_tema/" + id + "/";
      },
      
      eventTimeFormat: {
        hour: '2-digit',
        minute: '2-digit',
        hour12: false
      }
    });
    calendar.render();
  });
</script>

{% endblock %}