<div>
  <h2>Nuevo Tema</h2>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="tema">Tema</label><br />
      <input type="text" name="tema" id="tema" required />
    </div>

    <div>
      <label for="actividad">Actividad</label><br />
      <input type="text" name="actividad" id="actividad" />
    </div>

    <div>
      <label for="fecha">Fecha</label><br />
      <input type="date" name="fecha" id="fecha" value="{{ fecha_inicial }}" />
    </div>

    <div>
      <button type="submit">Guardar</button>
      <a href="{% url 'vista_calendario' %}">Clancelar</a>
    </div>
  </form>
</div>
